@mixin titulo($size)
  font-size: $size
  text-align: center
  color: $white
  font-weight: 700
  line-height: 1.5

@mixin button($fontSize, $width, $marginTop)
  width: $width
  font-size: $fontSize
  margin: 0 auto
  background: #6767f8
  padding: 1em 0
  border: none
  border-radius: 2em
  font-weight: 700
  color: $white
  background: linear-gradient(to right, $cyan, $blue)
  margin-top: $marginTop